<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <div id="game-board"></div>
    <script>
        const socket = io.connect('http://127.0.0.1:5000/');
        const gameBoard = document.getElementById("game-board");
        
        socket.on("connect", () => {
            console.log("Connected to server");
        });

        socket.on("game_board", data => {
            renderGameBoard(data.board, data.player_turn);
        });

        socket.on("game_over", data => {
            gameBoard.innerHTML = `<p>${data.message}</p>`;
        });

        socket.on("invalid_move", data => {
            console.log(data.message);
        });

        function renderGameBoard(board, playerTurn) {
            gameBoard.innerHTML = "";
            for (let i = 0; i < board.length; i++) {
                const cell = document.createElement("div");
                cell.className = "cell";
                cell.textContent = board[i];
                cell.addEventListener("click", () => makeMove(i, playerTurn));
                gameBoard.appendChild(cell);
            }
        }

        function makeMove(position, playerType) {
            socket.emit("player_move", { position, player_type: playerType });
        }
    </script>
</body>
</html>
